@model Unigate.Plugins.DynamicField.Entities.Field



<form action="/unigate/dynamicfield/edit/save" method="post">

    @Html.HiddenFor(x => x.FieldKey)
    @Html.TextBoxFor(x => x.FieldValue)
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ContentId)
    @*@if (Model.FieldType == "text")
        {
            @Html.TextBoxFor(x => x.FieldValue)
        }
        else if(Model.FieldType == "html")
        {
            @Html.TextAreaFor(x => x.FieldValue)
        }*@
    <input type="submit" />
</form>